doctype html
html
  head
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    title=status
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include menu
    h1=status
    p=msg
    p Server error, try refreshing the page
    